{:kotoba.app/id "cloud.itonami.isic-0162", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreibw3pwgbeb2ju5yr5a2pzytqeofwupjhyv7vn674zwyefy5sej7ja", :kotoba.app/embed-url "ipfs://bafkreibw3pwgbeb2ju5yr5a2pzytqeofwupjhyv7vn674zwyefy5sej7ja", :published {:archive "https://kotobase.net/ipfs/bafkreibw3pwgbeb2ju5yr5a2pzytqeofwupjhyv7vn674zwyefy5sej7ja", :size 72478, :put-status 201, :get-status 200, :at "2026-08-15T13:40:01.934Z"}}
